# .prettierrc

overrides:
- files: [".*.js","*.js"]
  options:
    semi: false
    singleQuote: true
    arrowParens: "always"
- files: "src/js/**/*.js"
  options:
    semi: false
    singleQuote: true
    arrowParens: "always"
