doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    link(rel="stylesheet" href="assets/css/app.styl")
  body
    h1 Title
    ul
      li
        img(src="assets/img/example.gif" alt="")
      li
        img(src="assets/img/example.jpg" alt="")
      li
        img(src="assets/img/example.png" alt="")
    script(src="assets/js/app.js" defer)
